.home-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

@media (min-width: 1100px) {
  .home-layout {
    grid-template-columns: 320px 1fr;
    align-items: start;
  }

  .home-about {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .home-publications {
    grid-column: 1 / -1;
  }

  .home-contact {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1500px) {
  .home-publications {
    grid-column: 2;
  }
  
  .home-contact {
    grid-column: 2;
  }

  .hero {
    .position: sticky;
    align-self:start
  }
}

.bio {
  font-size: clamp(1.2rem, 2vw, 1.3rem);
  line-height: 1.4;
  max-width: 85ch;
}

.bio-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.interests {
  text-align: left;
}

.education {
    text-align: left;
}

