<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {{ $css := (resources.Match "css/*.css") | resources.Concat "css/site.css" | resources.Minify }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">

</head>

<body>

  {{ partial "header.html" . }}
  
  <main class="content">
    {{ block "main" . }}{{ end }}
  </main>
  
  {{ $js := (resources.Get "js/menu.js") | resources.Minify }}
  <script src="{{ $js.RelPermalink }}"></script>


</body>
</html>

