.bio-layout {
  container-type: inline-size;
  display: grid;
  grid-template-columns: 1fr;

  gap: 2em;
  align-items: start;
}

.bio {
  font-size: var(--fs-sm);
  line-height: 1.4;
 
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.bio-intro {
  font-size: 1.1em;
  line-height: 1.4;
}

.bio-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em; 
  font-size: 1em;
  line-height: 1.4;
}

.interests {
  text-align: left;
}

.interests ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.education {
    text-align: left;
}

.education ul {
  list-style: none;
  padding-left: 0;

  display: flex;
  flex-direction: column;
  gap: 0.9em;
}

.education li {
  position: relative;
  padding-left: 2.6em;

  display: flex;
  flex-direction: column;
  gap: 0.05em
}

.education li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.05em;

  width: 2.25em;
  height: 2.25em;

  background: url("/icons/educationicon.svg");
  background-repeat: no-repeat;
  background-position: cente;
  background-size: contain;
}

.degree {
  font-size: 1.05em;
  color: #555;
  font-weight: 600;
}

.institution {
  font-size: 0.9em;
  color: #666
}

/*@container (min-width: 45ch) {
  .bio-details {
    grid-template-columns: 1fr 1fr;
  }

  .hero {
    font-size: var(--fs-md);
  }
}

@container (min-width: 55ch) {
  .bio-layout {
    column-gap: var(--space-3);
  }

  .hero {
    font-size: var(--fs-lg);
  }
}

@container (min-width: 65ch) {
  .bio {
    font-size: var(--fs-md);
  }
  
  .bio .content-container {
    max-width: none;
    margin-inline: 0;
  }

  .bio-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    align-items: start;
    max-width: var(--bio-width-inline-hero);
  }
}

@container (min-width: 85ch) {
  .bio-layout {
    display: block;
    max-width: var(--bio-width-normal);
    margin-inline: 0;
  }
}

*/
