.contact {
  font-size: 2rem;
  text-align: center;
  padding: 10rem;
  
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.email-link {
  display: inline-block;
  padding-left: 5.2rem;
  background-image: url("/icons/emailsymbol.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 3.5rem;
}
