.contact {
  font-size: var(--fs-sm);
  padding: 10em;
  
  display: flex;
  flex-direction: column;
  
  text-align: center;
  align-items: center;
  gap: 2.5em;
}

.email-link {
  display: inline-block;
  padding-left: 5.2em;
  background-image: url("/icons/emailsymbol.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1.5em;
}

@media (min-width: 850px) {
  .contact {
    font-size: var(--fs-md);
    padding-block: 4em;
    padding-inline: 2.5em;
  }
}

@media (min-width: 1300px) {
  .contact {
    font-size: var(--fs-lg);
    padding-block: 5em;
    padding-inline: 4em;
  }
}

