.experience {
  container-type: inline-size;
  
  font-size: var(--fs-sm);
  
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  --timeline-x: 1.25em;
  
  margin-block: 1em;
  margin-inline: auto;
}

.experience-list {
  --timeline-x: 1.25em;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);

  margin: 0;
  padding-left: 0;
  list-style: none;
}

.experience-list::before {
  content: "";
  position: absolute;
  inset-block: 0;
  left: var(--timeline-x);

  width: 2px;
  background-color: #777;

  display: none;
}

.experience-item {
  position: relative;
  display: flex;
  align-items: center;
}

.experience-dot {
  z-index: 2;
  
  position: absolute;
  left: var(--timeline-x);
  transform: translateX(-50%);
  
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  
  background-color: #fafafa;
  border: 2px solid #777;
  box-sizing: border-box;;
  
  display: none;
}

.experience-dot--filled {
  width: 1.4em;
  height: 1.4em;
  background-color: #999;   
}

.experience-card {
  flex: 1;
  position: relative;
  z-index: 2;

  margin-left: 0;
  padding: 0.7em 0.9em;

  border: 1px solid #e5e5e5;
  border-radius: 0.75em;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 0.6em;

  box-shadow:
    2px 1px 2px rgba(0, 0, 0, 0.05),
    0 8px 20px rgba(0, 0, 0, 0.08);
}

.exp-hero {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.exp-hero img {
  height: 2.2em;
  object-fit: contain;
}

.exp-meta {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.1rem;
}

.exp-title {
  font-size: 1.2em;
  font-weight: 500;
  color: #444;
}

.exp-thesis {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.exp-thesis-type {
  font-size: 0.9em;
  font-weight: 500;
  color: #444;
}

.exp-thesis-title {
  font-size: 0.9em;
  font-weight: 400;
  color: #666;
}

.exp-company {
  font-size: 1.2em;
  color: #777
}

.exp-details {
  font-size: 0.9em;
  font-weight: 400;
  color: #888;

  display: flex;
  align-items: center;
  gap: 0.9em;

}

.exp-details span {
  line-height: 1;
  display: flex;
  align-items: center;
}

.exp-details span + span::before {
  content: "";
  display: inline-block;

  width: 0.15em;
  height: 0.15em;
  border-radius: 50%;

  background-color: #666;
  margin-left: 0.5em;
  margin-right: 0.9em;
}

.exp-timeline {
}

.exp-location {
}

.exp-content {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  font-size: 0.9em;
  opacity: 0;
  height: 0;

  transition:
    height 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.2s ease;
}


.exp-content p {
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

.exp-content h1
.exp-content h2
.exp-content h3
.exp-content h4
.exp-content h5 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.exp-content.is-open {
  opacity: 1;
}

@container (min-width: 40ch) {
  .experience {
    font-size: var(--fs-md);
  }

  .experience-list::before {
    display: block;
  }

  .experience-dot {
    display: block;
  }

  .experience-card {
    margin-left: 4em;
    padding: 0.8em 1.1em;
  }
}

@container (min-width: 60ch) {
  .experience {
    font-size: var(--fs-lg);
  }

  .experience-card {
    padding: 0.9em 1.2em;
  }

  .exp-hero img {
    height: 2.8em;
  }
}

