.hero {
  font-size: var(--fs-sm);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5em;
}

.hero--sidebar {
  display: none;
  top: calc(var(--header-height) + var(--header-gap));
}

.hero--inline {
  display: block;
  margin-top: var(--space-4);
}

.profile-pic {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  object-fit: cover;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 0.6em;
}

.social-link {
  width: 1.6em;
  height 1.6em;
}

.social-link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.social-link:hover {
  opacity: 0.75;
}

.name {
  font-size: 1.6em;
  font-weight: 500;
  color: #1a1a1a;
}

.position {
  font-size: 1.2em;
  font-weight: 350;
  color: #555;
}

.company {
  font-size: 1.2em;
  font-weight: 200;
  color: #777;
}

.name
.position
.company {
  white-space: nowrap;
}

.company a {
  color: #888;
}

.company a:hover {
  text-decoration: none;
  opacity: 0.75;
}

