.home-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

@media (min-width: 1100px) {
  .home-layout {
    grid-template-columns: 320px 1fr;
    align-items: start;
  }

  .home-about {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .home-publications {
    grid-column: 1 / -1;
  }

  .home-contact {
    grid-column 1 / -1;
  }
}

@media (min-width: 1500px) {
  .home-publications {
    grid-column: 2;
  }
  
  .home-contact {
    grid-column: 2;
  }
}
