.page {
  display: block;
}

.page-section {
  padding: 2rem;
}

.page-section--home {
  background-color: white;
}

.page-section--publications {
  background-color: #f0f0f0;
}

.page-section--experience {
  background-color: white;
}

.page-section--contact {
  background-color: #f0f0f0;
}

.page-container {
  max-width: 2000px;
  margin-inline: auto;
  padding-inline: var(--space-1);
}

.section-container {
  max-width: var(--wide-content-width);
  margin: auto;
  padding-block: var(--clamp-vert-sm);
  padding-inline: var(--clamp-horiz-sm);
}

.content-container {
  max-width: var(--wide-content-width);
  margin-inline: auto;
  padding-block: var(--clamp-vert-sm);
  padding-inline: var(--clamp-horiz-sm);
}

.page-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-4);
  align-items: start;
}

.page-content {
  margin: 0;
  min-width: 0;  
}

@media (min-width: 500px) {
  .page-container {
    padding-inline: var(--space-2);
  }
}

@media (min-width: 850px) {
  .section-container {
    padding-block: var(--clamp-vert-md);
    padding-inline: var(--clamp-horiz-md);
  }


  .bio-details {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1050px) {
  .site-header {
    font-size: var(--fs-md);
  }
  
  .page-container {
    padding-inline: var(--space-4);
  }

  .content-container {
    margin-inline: 0;
    padding-block: var(--clamp-vert-md);
    padding-inline: var(--clamp-horiz-md)
  }

  .section-container {
    padding-block: var(--clamp-vert-md);
    padding-inline: var(--clamp-horiz-md);
  }


  .bio-layout {
    display: grid;
    grid-template-columns: 270px 1fr;
    align-items: start;
    gap: var(--space-2);

    max-width: var(--bio-width-inline-hero);
  }

  .hero--inline {
    margin-top: var(--space-6);
  }

  .hero {
    font-size: var(--fs-md);
  }
}

@media (min-width: 1150px) {
  .bio-layout {
    column-gap: var(--space-3);
  }
}

@media (min-width: 1300px) {
  .page-container {
    padding-inline: var(--clamp-horiz-lg);
  }

  .content-container {
    padding-block: var(--clamp-vert-md);
    padding-inline: var(--clamp-horiz-lg)
  }

  .section-container {
    padding-block: var(--clamp-vert-lg);
    padding-inline: var(--clamp-horiz-lg);
  }

 .bio-layout {
    display: block;
    max-width: var(--bio-width-normal);
    margin-inline: 0;
  }

  .page-layout {
    grid-template-columns: 320px 1fr;
  }

  .page-content {
    grid-column: 2;
  }

  .hero--sidebar {
    display: block;
    position: sticky;

    grid-column: 1;
  }

  .hero--inline {
    display: none;
  }
  
  .page-content {
    grid-column 2;
  }

  .hero {
    font-size: var(--fs-lg)
  }
}
