.page {
  display: block;
}

.page-section {
  padding: 2rem;
}

.page-section--home {
  background-color: white;
}

.page-section--publications {
  background-color: #f0f0f0;
}

.page-section--contact {
  background-color: blue;
}

.page-container {
  max-width: 2000px;
  margin-inline: auto;
  padding-inline: clamp(2rem, 4vw, 4rem);
}

.section-container {
  max-width: 1940px;
  margin: 0 auto;
  padding: 3rem 4rem;
}

.content-container {
  max-width: 115ch;
  margin-inline: auto;
}

.page-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  align-items: start;
}

.bio-layout {
  display: block;
  padding-top: 1.5rem;
}

.page-content {
  margin: 0;
  min-width: 0;  
}

@media (min-width: 850px) {
  .bio-details {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .content-container {
    margin-inline: 0;
  }

  .bio-layout {
    display: grid;
    grid-template-columns: 270px 1fr;
    align-items: start;
    gap: 0.8rem;
  }

  .hero--inline {
    margin-top: 8rem;
  }

  .hero {
    --hero-gap: 2.2rem;
    --hero-avatar: 220px;
    --hero-name-size: 1.4rem;
    --hero-role-size: 1.25rem;
    --hero-company-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .bio-layout {
    column-gap: 1.5rem;
  }
}

@media (min-width: 1500px) {
  .bio-layout {
    display: block;
    gap: 2.5rem;
  }

  .page-layout {
    grid-template-columns: 320px 1fr;
  }

  .page-content {
    grid-column: 2;
  }

  .hero--sidebar {
    display: block;
    position: sticky;
    top: 8rem;
    grid-column: 1;
  }

  .hero--inline {
    display: none;
  }
  
  .page-content {
    grid-column 2;
  }

  .hero {
    --hero-gap: 2.3rem;
    --hero-avatar: 310px;
    --hero-name-size: 1.85rem;
    --hero-role-size: 1.35rem;
    --hero-company-size: 1.3rem;
  }

}
