.page {
  display: block;
}

.page-section {
  padding: 2rem;
}

.page-section--home {
  background-color: white;
}

.page-section--publications {
  background-color: #f0f0f0;
}

.page-section--experience {
  background-color: white;
}

.page-section--contact {
  background-color: #f0f0f0;
}

.page-container {
  max-width: 2000px;
  margin-inline: auto;
  padding-inline: var(--space-4);
}

.section-container {
  max-width: var(--wide-width);
  margin: auto;
  padding: var(--space-5);
}

.content-container {
  max-width: var(--wide-width);
  margin-inline: auto;
  padding-block: var(--space-5);
}

.page-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-4);
  align-items: start;
}

.bio-layout {
  display: block;
}

.page-content {
  margin: 0;
  min-width: 0;  
}

@media (min-width: 850px) {
  .bio-details {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .content-container {
    margin-inline: 0;
  }

  .bio-layout {
    display: grid;
    grid-template-columns: 270px 1fr;
    align-items: start;
    gap: var(--space-2);
  }

  .hero--inline {
    margin-top: var(--space-5);
  }

  .hero {
    font-size: var(--fs-md)
  }
}

@media (min-width: 1200px) {
  .bio-layout {
    column-gap: var(--space-3);
  }
}

@media (min-width: 1500px) {
  .bio-layout {
    display: block;
  }

  .page-layout {
    grid-template-columns: 320px 1fr;
  }

  .page-content {
    grid-column: 2;
  }

  .hero--sidebar {
    display: block;
    position: sticky;
    top: var(--space-5);

    grid-column: 1;
  }

  .hero--inline {
    display: none;
  }
  
  .page-content {
    grid-column 2;
  }

  .hero {
    font-size: var(--fs-lg)
  }
}
