.menu {
  position: relative;
  font-size: 1em;
}

.menu-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  min-height: var(--header-height);

  padding: 0.3em 0.4em;
  background: white;
  z-index: 2;
}

.menu-surface {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  background: white;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);

  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;

  transition:
    opacity 0.3s ease,
    transform 0.43s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.menu-checkbox:checked ~ .menu-surface {
  opacity: 1;
  transform: scaleY(1);
}


.menu-toggle {
  grid-column: 1;
  justify-self: start;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 22px;
  height: 14px;
  padding: 0.25em 0.5em;

  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  height: 2.5px;
  width: 100%;
  background-color: #555;
  border-radius: 2px;
}

.menu-items {
  list-style: none;
  margin: 0;
  padding: 1.2em 2.5em;
}

.menu-items a {
  display: block;
  padding: 0.4em 0;
  color: #555;
  font-weight: 400;
  font-size: 1.1em;
}

.menu-items a:hover {
  color: #888;
  font-weight: 600;
  font-size: 1.2em;
  text-decoration: none;
}

.menu-items a.active,
.menu-items a.active:hover {
  color: #333;
  font-weight: 600;
  text-decoration: none;
}

