.profile {
  text-align: center;
}

@media (min-width: 1100px) {
  .profile {
    position: static;
  }
}

@media (min-width: 1500px) {
  .profile {
    text-align: left;
    position: sticky;
    top: 6rem;
  }
}

.profile-pic {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 2rem auto;
}

.name {
  font-size: clamp(1.5rem, 3vw, 2.2rem);
  font-weight: 120;
  color: #1a1a1a;
  margin-top: -0.5rem;
  margin-bottom: 0.3rem;
}

.position {
  text-align: center;
  margin-bottom: 3rem;
  font-size: clamp(1.3rem, 2.2vw, 1.5rem);
  font-weight: 350;
  color: #555;
  margin-bottom: 0.3rem;
}

.company {
  text-align: center;
  font-size: clamp(1.3rem, 2.2vw, 1.5rem);
  font-weight: 200;
  color: #777;
  margin-bottom: 1.5rem;
}

.company a {
  color: #888;
}

.company a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

