.publications {
  container-type: inline-size;
  font-size: var(--fs-md);

  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  margin-block: var(--space-2);
  margin-inline: auto;
}

.publication {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(8ch, 18ch);
  gap: var(--space-3);
  align-items: start;
}

.pub-title {
  margin: 0;
  font-size: var(--fs-lg);
  font-weight: 600;
}

.pub-title a {
  color: #222;
  text-decoration: none;
}

.pub-title a:hover {
  text-decoration: underline;
}

.pub-venue {
  font-size: var(--fs-sm);
  color: #777;
  font-weight: 350;
  margin-top: 0.1em;
}

.pub-authors {
  font-size: var(--fs-md);
  color: #666;
  margin-top: 0.5em;
}

.pub-figure {
  width: 100%;
}

.pub-figure img {
  width: 100%;
  height: auto;
  object-fit: contain;

  border-radius: 6px;
}

@container (max-width: 420px) {
  .publication {
    grid-template-columns: 1fr;
  }

  .pub-figure {
    display: none;
  }
}
