.publications {
  container-type: inline-size;
  font-size: var(--fs-sm);

  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-block: 1em;
  margin-inline: auto;
}

.publication {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(8ch, 18ch);
  gap: 1.5em;
  align-items: start;
}

.pub-title {
  margin: 0;
  font-size: 1.15em;
  font-weight: 600;
}

.pub-title a {
  color: #222;
  text-decoration: none;
}

.pub-title a:hover {
  text-decoration: underline;
}

.pub-venue {
  font-size: 0.85em;
  color: #777;
  font-weight: 350;
  margin-top: 0.1em;
}

.pub-authors {
  font-size: 0.8em;
  color: #666;
  margin-top: 0.5em;
}

.pub-figure {
  width: 100%;
}

.pub-figure img {
  width: 100%;
  height: auto;
  object-fit: contain;

  border-radius: 6px;
}

.pub-content {
  font-size: 0.8em;
}

/* ===== Publications: single page ===== */

.publication-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5em 1.5em;

  line-height: 1.65;
  font-size: var(--fs-md);
}

.publication-page .pub-title {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.publication-page .pub-meta {
  margin-bottom: 2em;
  color: #555;
  font-size: 1.25em;
}

.publication-page .pub-content {
  margin-top: 2em;
  font-size: 0.95em;
}

.publication-page .pub-content h2,
.publication-page .pub-content h3 {
  margin-top: 3em;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}


.publication-page .pub-content p {
  margin-bottom: 1em;
}

.publication-page .pub-figure {
  margin: 2.5em auto;
  text-align: center;
}


.publication-page .pub-figure img {
  max-width: 100%;
  width: 700px;
  height: auto;
  display: inline-block;
}

@container (max-width: 420px) {
  .publication {
    grid-template-columns: 1fr;
  }

  .pub-figure {
    display: none;
  }
}

@media (min-width: 850px) {
  .publications {
    font-size: var(--fs-md);
  }

  .publication-page {
    font-size: var(--fs-lg);
  }
}

@media (min-width: 1300px) {
  .publications {
    font-size: var(--fs-lg);
  }

  .publication-page {
    font-size: var(--fs-xl);
  }
}

