html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  line-height: 1.6;
}

a {
  color: #666;
  text-decoration: none;
  font-weight: 200;
}

a:hover {
  text-decoration: underline;
}

strong,
b {
  color: #222;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

h1 {
  font-size: clamp(2rem, 4vw, 2.6rem);
}

h2 {
  font-size: clamp(1.7rem, 3vw, 2.3rem);
}

h3 {
  color: #444;
}

