<section class="about-text">
  <h1>Professional Background</h1>
  <p>
  I am a Machine Learning Researcher at OptoScale working on machine vision for real-world production environments. 
  </p>
  <p>
  I received my PhD in Computer Science in 2024 from the University of Oslo, as part of a joint collaboration with UC San Diego, under supervision of
<a href="https://sites.google.com/ucsd.edu/alexandercloninger/home" target="_blank" rel="noopener">Prof. Alexander Cloninger</a> and
<a href="https://www.simula.no/people/nick" target="_blank" rel="noopener">Dr. Nick Forsch</a>. As visiting researcher at UC San Diego I collaborated closely with
<a href="https://cseweb.ucsd.edu/~yfreund/?_gl=1*zv1lqz*_gcl_au*NTM2OTk3MTEuMTc2Njc2Mjc0Nw..*_ga*MzIxNDIzNzY4LjE3NjY3NjI3NDU.*_ga_PWJGRGMV0T*czE3NjY3NjI3NDckbzEkZzAkdDE3NjY3NjI3NDckajYwJGwwJGgw" target="_blank" rel="noopener">Prof. Yoav Freund</a>. Prior to this, I also spent time at CERN in the
<a href="https://mpe.web.cern.ch/home" target="_blank" rel="noopener">TE-MPE department</a>, working under the supervision of Dr. Daniel Wollman.
</p>
 

