<div class="hero {{ .modifier }}">
  {{ with .context.Resources.Get .context.Params.profilepic }}
    <img
      class="profile-pic"
      src="{{ .RelPermalink }}"
      alt="Profile picture"
    >
  {{ end }}

  <div class="name">Andreas Oslandsbotn</div>
  <div class="position">Machine Learning Engineer</div>
  <div class="company">
      <a href="https://optoscale.no/?lang=en" target="_blank" rel="noopener">OptoScale</a>
  </div>
  <div class="social-links">
    {{ range .context.Params.Social }}
    {{ $url := .url }}
    {{ $external := (hasPrefix $url "http") }}
      <a class="social-link" 
         href="{{ .url }}"
         {{ if $external }}target="_blank" rel="noopener"{{ end }}
         area-label="{{ .name }}">
        <img
          class="social-link"
          src="/icons/{{ .icon }}"
          alt="{{ .name }}"
        >
      </a>
    {{ end }}
  </div>
</div>

