{{ define "main" }}
 <main class=page>
  <section class="page-layout page-container">

    {{ partial "hero.html" (dict "context" . "modifier" "hero--sidebar") }}
   
    <div class=page-content>
      <section class="page-section page-section--home" id="home">
        <div class=section-container>
          <div class=bio-layout> 
          
            {{ partial "hero.html" (dict "context" . "modifier" "hero--inline") }}  
          
            <div class=bio>
              <div class="content-container">
                {{ partial "bio-intro.html" . }}
                <div class="bio-details">
                  {{ partial "interests.html" . }}
                  {{ partial "education.html" . }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="page-section page-section--publications" id="publications">
        <div class="section-container">
          <div class=content-container>
            {{ partial "publications.html" }}
          </div>
        </div>
      </section>
      
      <section class="page-section page-section--experience" id="experience">
        <section class="section-container">
          <div class="content-container">
           {{ partial "experience.html" }}
          </div>
        </section>
      </section>

      <section class="page-section page-section--contact" id="contact">
        <section class="section-container">
          <div class="content-container">
            {{ partial "contact.html" }}
          </div>
        </section>
      </section>
      
      <section class="page-section page-section--footer" id="footer">
        <footer class="site-footer">
          © {{ now.Year }} Andreas Oslandsbotn.
          Content licensed under&nbsp;
          <a 
            href="https://creativecommons.org/licenses/by/4.0/"
            rel="noopener"
            target="_blank"
          > CC BY 4.0</a>, unless otherwise noted.
          
        </footer>
      </section>
    </div>
  </section>
 </main>
{{ end }}
