{{ define "main" }}
 <main class=page>
  <section class="page-layout page-container">

    {{ partial "hero.html" (dict "context" . "modifier" "hero--sidebar") }}
   
    <div class=page-content>
      <section class=page-section--home id="home">
        <div class=section-container>
          <div class=bio-layout> 
          
            {{ partial "hero.html" (dict "context" . "modifier" "hero--inline") }}  
          
            <div class=bio>
              <div class="content-container">
                {{ partial "bio-intro.html" . }}
                <div class="bio-details">
                  {{ partial "interests.html" . }}
                  {{ partial "education.html" . }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class=page-section--publications id="publications">
        <div class="section-container">
          <div class=content-container>
            {{ partial "publications.html" }}
          </div>
        </div>
      </section>
      
      <section class=page-section--experience id="experience">
        <section class="section-container">
          <div class="content-container">
           {{ partial "experience.html" }}
          </div>
        </section>
      </section>

      <section class=page-section--contect id="contact">
        <section class="section-container">
          <div class="content-container">
            {{ partial "contact.html" }}
          </div>
        </section>
      </section>
    </div>
  </section>
 </main>
{{ end }}
